*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: $color-grey;
  font-family: $font-family;
  color: $color-white;
  font-size: 18px;
  text-rendering: optimizeLegibility;

  @include breakpoint-smallest {
    font-size: 16px;
  }
}

h1, h2, h3, h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 1;
}

svg {
  display: block;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 2.4em;
  padding-right: 2.4em;

  @include breakpoint-smallest {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.btn {
  padding: 8px 16px;
  border: 1px solid $color-accent;
  border-radius: 4px;
  font-size: 0.8125em;
  font-weight: 500;
  color: $color-accent-light;
  transition: 0.1s, background-color, 0.1s color;

  &:hover {
    background-color: $color-accent;
    color: $color-grey;
  }
}

.popup {
  position: fixed;
  bottom: 8px;
  right: 8px;
  opacity: 0;
  visibility: hidden;
  padding: 16px;
  border-radius: 4px;
  background-color: $color-grey-light;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  color: $color-white;
  font-size: 0.875em;
  transform: translateX(calc(100% + 10px));
  transition: 0.2s opacity, 0.2s visibility, 0.2s transform;

  &.visible {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 280px;
  padding: 0 1rem;
  text-align: center;

  &::before {
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    margin-bottom: auto;
    background-color: $color-accent;
  }
}

.footer-title {
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
}

.footer-link {
  margin-top: 2.4rem;
  margin-bottom: auto;
  padding: 12px 24px;
  font-size: 0.875rem;
  letter-spacing: 1px;
}
