.projects-title-container {
  display: flex;
  justify-content: center;
  margin-bottom: 3.2em;

  @include breakpoint-small {
    margin-top: 1em;
  }

  @include breakpoint-smallest {
    margin-bottom: 2.4em;
  }
}

.projects-title {
  font-size: 1.6em;

  &::after {
    content: "";
    display: block;
    margin: 1em auto 0 auto;
    width: 100px;
    height: 4px;
    background-color: $color-accent;
  }
}

.project {
  display: flex;
  align-items: flex-start;
  padding-bottom: 3.2em;

  &:nth-of-type(odd) .project-image {
    order: 1;
    margin-left: 2.4em;
    margin-right: 0;

    @include breakpoint-small {
      margin-left: 0;
      margin-right: 0;
    }
  }

  @include breakpoint-small {
    display: block;
  }
}

.project-image {
  flex-shrink: 0;
  width: calc(50% + 1.2em);
  margin-left: 0;
  margin-right: 2.4em;
  box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.32);

  @include breakpoint-small {
    display: block;
    width: 100%;
    margin: 0 0 1.6em 0;
  }
}

.project-title {
  font-size: 1.2em;

  &::before {
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    margin-bottom: 1.6rem;
    background-color: $color-accent;

    @include breakpoint-smallest {
      margin-bottom: 1rem;
    }
  }
}

.description {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  line-height: 1.5;
}

.project-links {
  display: flex;
}

.project-link {
  margin-right: 8px;
}
